.no-button {
  padding: 0.5rem 0.75rem;
  color: #fff;
  border: none;
  background-color: rgb(245, 96, 96);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
}

.no-button:hover {
  background-color: rgb(243, 78, 78);
  cursor: pointer;
}

.save-button {
  padding: 0.5rem 0.75rem;
  color: #fff;
  border: none;
  background-color: rgb(108, 245, 96);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
}

.save-button:hover {
  background-color: rgb(106, 243, 78);
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

mat-form-field {
  display: block;
}
