<div mat-dialog-content>
  <h1>Register your score?</h1>
  <form (submit)="onRegisterScore(userForm)" [formGroup]="userForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" autocomplete="off" />
      <mat-error
        *ngIf="
          userForm.get('username')!.errors &&
          userForm.get('username')!.value.length > 0
        "
      >
        Username must be between 4 and 15 characters long
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="buttons" align="end">
  <button mat-button class="no-button" (click)="onBack()">No Thanks</button>
  <button mat-button class="save-button" (click)="onRegisterScore(userForm)">
    Save
  </button>
</div>
